<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>

欢迎进入首页-<%=user%>
<a href="http://localhost:3000/logout?from=localhost:3002&user=<%=user%>">退出登陆-<%=user%></a>
</body>
</html>
